/* INDICAZIONI GENERALI */
html {
  font-size: 17px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

/*body {
  margin-bottom: 60px;
}*/

/* HEADER */
header {
    background-image: url('../img/sfondo-header-footer.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

li {
    font-size: 20px;
}

/* JUMBOTRON */
.jumbo {
    background-image: url('../img/jumbo-pizza.jpg');
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

/* FOOTER */
footer {
    background-image: url('../img/sfondo-header-footer.png');
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}