
<div class="container">
    <div class="row">
        <div class="col-6">
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
        <div class="col-12 pt-5 d-flex justify-content-center">
            <p class="copy">&copy; 2024 - PizzaBomba s.p.a - La pizza che ti fa esplodere</p>
        </div>
    </div>
</div>
